body, table, thead, tbody, tr, th, td, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #d4afff;
  font-family: Tahoma;
  text-align: center; }
  body table {
    width: 1150px;
    background-color: white;
    margin: 0 auto;
    border: 1px solid black; }
    body table thead {
      background-color: #bce954; }
      body table thead th {
        padding: 5px;
        border: 1px solid black; }
    body table tbody tr:nth-child(even) {
      background-color: #eeeeee; }
    body table tbody tr:hover {
      background-color: #e9d0ed; }
    body table tbody tr td {
      padding: 10px;
      padding-right: 0;
      padding-left: 15px;
      text-align: center;
      border: 1px solid black; }
      body table tbody tr td a {
        text-decoration: none;
        color: black; }
    body table tbody > tr:nth-child(1) > td.nakov {
      background: url("../images/nakovhangman.png") no-repeat;
      background-size: 30px;
      background-position: 5px center;
      /*background-position-y: center;*/ }
    body table tbody > tr:nth-child(1) > td.vlado-k {
      background: url("../images/undertaker.png") no-repeat;
      background-size: 30px;
      background-position: 5px center;
      /*background-position-y: center;*/ }
    body table tbody > tr:nth-child(1) > td.vlado-g {
      background: url("../images/vlado.png") no-repeat;
      background-size: 30px;
      background-position: 5px center;
      /*background-position-y: center;*/ }
    body table tbody > tr:nth-child(1) > td.petya {
      background: url("../images/princessPetya.png") no-repeat;
      background-size: 30px;
      background-position: 5px center;
      /*background-position-y: center;*/ }
    body table tbody > tr:nth-child(2) > td.nakov {
      background: url("../images/masternakov.png") no-repeat;
      background-size: 30px;
      background-position: 5px center;
      /*background-position-y: center;*/ }
    body table tbody > tr:nth-child(2) > td.vlado-g {
      background: url("../images/vladSkouokyr.png") no-repeat;
      background-size: 30px;
      background-position: 5px center;
      /*background-position-y: center;*/ }
    body table tbody > tr:nth-child(2) > td.petya {
      background: url("../images/petya.png") no-repeat;
      background-size: 30px;
      background-position: 5px center;
      /*background-position-y: center;*/ }
    body table tbody > tr:nth-child(3) > td.nakov {
      background: url("../images/svezis.png") no-repeat;
      background-size: 30px;
      background-position: 5px center;
      /*background-position-y: center;*/ }
    body table tbody > tr:nth-child(3) > td.vlado-k {
      background: url("../images/vladesagain.png") no-repeat;
      background-size: 30px;
      background-position: 5px center;
      /*background-position-y: center;*/ }
    body table tbody > tr:nth-child(3) > td.tedi {
      background: url("../images/tedistoraro.png") no-repeat;
      background-size: 30px;
      background-position: 5px center;
      /*background-position-y: center;*/ }
    body table tbody > tr:nth-child(3) > td.vlado-g {
      background: url("../images/vlades.png") no-repeat;
      background-size: 30px;
      background-position: 5px center;
      /*background-position-y: center;*/ }

/*# sourceMappingURL=03-styles.css.map */